<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.md2k.utilities">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/app_theme_teal_light">
        <activity
            android:name="org.md2k.utilities.UI.ActivityAbout"
            android:screenOrientation="portrait"
            android:icon="@drawable/ic_info_teal_48dp"
            android:label="About"></activity>
        <activity
            android:name="org.md2k.utilities.UI.ActivityCopyright"
            android:screenOrientation="portrait"
            android:icon="@drawable/ic_copyright_teal_48dp"
            android:label="Copyright"></activity>
    </application>
</manifest>
